@use "./base.scss";

.toc { 
    padding: .5rem;
    background-color: var(--highlight);
    box-sizing: border-box;
    border-radius: 5px;

    button {
        width: 100%;
    }
}

html[saved-theme="dark"] {
    .image-background {
        background-color: #fff;
        border-radius: 5px;

        figcaption {
            color: #4e4e4e;
        }
    }
}

figure {
    margin: 0;
}
figure > img {
    margin: 0;
}

figcaption {
    text-align: center;
    padding-bottom: 1rem;
}